.olympus-meta-box-content > div {
	padding: 12px;
}

#olympus-meta-box-container label {
	display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

#olympus-meta-box-container select {
	width: 100%;
    box-sizing: border-box;
}